html {
  margin: 0px;
  height: 100% !important;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100% !important;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

ul{
  padding:0 !important;
  margin:0 !important;
}
li{

  margin:0 !important;
}

html, body, #root, #root>div {
  height: 100%; /* this fixes background with disconnected wallet layout */
  /* height: 100vh; 
  width:100vh; */
}