html {
  margin: 0px;
  height: 100% !important;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100% !important;
  width: 100%;
}

ul{
  padding:0 !important;
  margin:0 !important;
}
li{

  margin:0 !important;
}