/node_modules
build
*.log
*.code-workspace
client/contracts

/reference
/client/src/contracts
/reduxReference
package-lock.json
geth
eth_node/
temp/list
truffleBuild/
ganacheID.txt
client/src/blockchain/behodlerUI/images/private
*.txt
*.rdb
client/yarn.lock